@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    
    <div id="app">
        <button type="button" class="btn btn-info" @@click="sidebarOpened = true">Открыть сайдбар</button> <!--@@click="$refs.sidebar1.show()"-->
        <template v-if="sidebarOpened">        
            <Sidebar modal swith-block mode="full" ref="sidebar1" @@close="$root.sidebarOpened = false"></Sidebar>
        </template>
    </div>
       
</div>

@section Scripts{
    <script src="~/dist/js/app.js" asp-append-version="true"></script>
}
